/* DESPLIEGUE EN PANTALLA DE DISPOSITIVOS - MOBILE FIRST*/

/* Definiciones generales ------------------------------------------------------*/
*{
	background-color: #02010a;
	font-family: "Dancing Script";
	text-align: center;
	color: white;
}

/* Definiciones de clases generales Titulo y Menu -------------------------*/
#Contenido {
  width: 100%;
  margin: 0 auto;
}

.Encabezado {
	display: inline;
  align-items: center;
  justify-content: flex-end;
	background-color: #5b7989;
	box-sizing: border-box;
	height: 70px;
	border-radius: 0px 0px 0px 0px;
	margin-top: 10px;
}

.TituloWeb{
  background-color: inherit;
	text-align: center;
	font-size: 32px;
}

.MenuWeb ul {
 	background-color: #5b7989;
  padding: 0;
	margin: 0;
  list-style: none;
}

.MenuWeb ul a{
	background-color: inherit;
  display: inline-block;
}
/* F I N - Definiciones de clases generales Titulo y Navegacion --------------------*/

/* Definiciones de Imagen y Sombra de imagen --------------------*/

img {
  box-shadow: 2px 2px 0px #02010a;
	background-color: inherit;
}

picture{
	height: 90%;
}

article{
	padding: 20px 10px;
	box-sizing: border-box;
 	border: 0px solid inherit;
 	display: inline-block;
	background-color: inherit;
	float:left;
	text-align: center;
	height: 300px auto;
	color:black;
}

.FotoPrincipal {
	background-color: #82c3a6;
	width: 100%;
}

.FotoMenu {
	background-color: #d5c75f;
	width: 100%;
}

/* Definiciones de pantalla 900px -------------------------------------------------*/
@media screen and (min-width: 900px){
	/* Definiciones generales ------------------------------------------------------*/
	*{
		background-color: #02010a;
		font-family: "Dancing Script";
		text-align: center;
		color: white;
	}

	/* Definiciones de clases generales Titulo y Menu -------------------------*/
	#Contenido {
	  width: 100%;
	  max-width: 900px;
	  margin: 0 auto;
	}

	.Encabezado {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
		background-color: #5b7989;
		box-sizing: border-box;
		height: 70px;
		border-radius: 10px 10px 0px 0px;
		margin-top: 10px;
	}

	.TituloWeb{
	  background-color: inherit;
		text-align: left;
		margin-left: 10px;
		font-size: 24px;
	}

	.MenuWeb ul {
	 	background-color: #5b7989;
	  padding: 0;
		margin: 0;
	  list-style: none;
	}

	.MenuWeb ul a{
		background-color: inherit;
		margin-right: 10px;
	  display: inline-block;
	}
	/* F I N - Definiciones de clases generales Titulo y Navegacion --------------------*/

	/* Definiciones de Imagen y Sombra de imagen --------------------*/

	img {
	  box-shadow: 2px 2px 0px #02010a;
		background-color: inherit;
	}

	picture{
		height: 90%;
	}

	article{
		padding: 20px 10px;
		box-sizing: border-box;
	 	border: 0px solid inherit;
	 	display: inline-block;
		background-color: inherit;
		float:left;
		text-align: center;
		height: 300px auto;
		color:black;
	}

	.FotoPrincipal {
		background-color: #82c3a6;
		width: 100%;
	}

	.FotoMenu {
		background-color: #d5c75f;
		width: 50%;
	}
