*{
	background-color: #02010a;
	font-family: "Dancing Script";
	text-align: center;
	color: white;
	font-size: 20px;
}

a.SinSubrayado:link{
	text-decoration: none;
}

/* Efecto de animacion de pagina */

#Inicio {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-name: slidein;
	animation-name: slidein;
}

@-webkit-keyframes slidein{
	0% { margin-top: 150%;}
  60%{ margin-top: -5%;}
	100% { margin-top: 0;}
}

@keyframes slidein{
	0% { margin-top: 150%;}
  60%{ margin-top: -5%;}
	100% { margin-top: 0;}
}


#Contenido {
	width: 100%;
	max-width: 900px;
	margin: 0px;
}

.Encabezado {
	display: block;
	align-items: center;
	justify-content:center;
	background-color: #5b7989;
	box-sizing: border-box;
	height: 70px;
	border-radius: 10px 10px 0px 0px;
}

.TituloWeb{
	background-color: inherit;
	text-align: center;
	margin-left: 10px;
	font-size: 32px;
	text-shadow: 2px 2px #02010a;
	width: 90%;
}

.MenuWeb ul {
	background-color: #5b7989;
	padding: 0;
	margin: 0;
	list-style: none;
}

.MenuWeb ul a{
	background-color: inherit;
	margin-right: 10px;
	display: inline-block;
}

/* ---- Principal ----------------------*/

picture{
	margin: 15px;
}

.Fotos {
	box-shadow: 2px 2px 0px #02010a;
	width: 90%;
	margin-bottom: 10px;
}

.Principal {
	box-sizing: border-box;
	background-color: #82c3a6;
	border: 1px solid  inherit;
	width: 100%
}

/* ---- Cuerpo ----------------------*/

.Cuerpo{
	display: block;
}

div [class*="Foto"] {
	box-sizing: border-box;
	background-color: #d5c75f;
	border: 1px solid inherit;
	text-align: center;
	color: black;
}

.FotoPaisaje {
	order: 1;
	width: 100%;
	padding-bottom: 10px;
}

#FotoP:hover {
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
	box-shadow: 2px 2px 0px #82c3a6;
}

.FotoRetrato {
	order: 2;
	width: 100%
}a

#FotoR:hover {
	-webkit-transform:translate(20px, -5px);
	transform:translate(20px, -5px);
	box-shadow: 2px 2px 0px #82c3a6;
}

.MatFotos {
	width: 100%;
}

.Efecto01{     /* Blur */
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.Efecto02{     /*Escala de Gris*/
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}
.Efecto03{     /* Sephia */
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}




/* --- Definiciones Pie de Pagina ----- */

.PiePagina {
	display: flow-root;
	justify-content: center;
	background-color: #C6d5c5;
	box-sizing: content-box;
	border-radius: 0px 0px 10px 10px;
	font-size: 15px;
	}

.InfPiePagina {
	background-color: inherit;
	width: 90%;
	border-radius: 0px 0px 10px 10px;
	padding-bottom: 10px;
}

h1, li{
	background-color: inherit;
	text-align: left;
	margin-left: 15%;
	list-style: none;
	color: black;
}

h1{
	font-size: 30px;
}

.social, a {
	background-color: inherit;
	margin-left: 2px;
	color: inherit;
}


/* ============================================================================*/
/* =================== DEFINICIONES PANTALLA 900PX ============================*/
/* ============================================================================*/

@media screen and (min-width: 900px){
	/* Definiciones generales ----*/

	#Contenido {
		max-width: 900px;
		margin: 10px auto;
	}

	.Encabezado {
		box-sizing: border-box;
		display: flex;
	  align-items: left;

	  justify-content: space-between;
	}

	.TituloWeb{
		text-align: left;
		width: 40%;
	}

	.MenuWeb ul a{
		display: inline-block;
	}

	/* ---- Cuerpo ----------------------*/

	.Cuerpo{
		display: flex;
	}
	.CuerpoFotos{
		display: flex;
		flex-flow: wrap;
	}

	/* Paisajes */
	.MatFotos {
		width: 33%;
	}



/* --- Definiciones Pie de Pagina ----- */
	.PiePagina {
		display: flex;
		align-items: left;
		justify-content: space-between;
		}

	.InfPiePagina {
		width: 25%;
	}

	h1, li{
		text-align: left;
	}


}
