* {
    box-sizing: border-box;
    font-family: sans-serif;
	  background-color: #800000;
    text-align: center;
		color: black;
		font-size: 12px;
    margin-left: 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="col-"] {
    float: center;
    padding: 0px;
}

.imgStyle {
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.fondoColor {
  background-color:  #800000;
}

.headerColor {
  background-color: White;
}

.cuerpoColor {
  background-color: White;
}

.socialStyle{
  margin-left: 0px;
	color: inherit;
  width: 30px;
}

.artStyle {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  padding-bottom: 2%
}

.fotoStyle {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%
}


.ajusteNav {
  justify-content: center;
}

.navStyle {
  background-color:#ff9900;
  color:#800000;
}

.btnStyle {
  background-color:inherit;
  color:#800000;
}

.sizeIco {
  width: 25px;
  margin-left: 50%;
}

.commentStyle {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 35px 0px 0px;
  text-align: left;
}

.opcAlign {
  text-align: left;
  margin-left: 30px;
}

/* ================================================================================== DEFINICIONES PANTALLA 900PX ===============================================================*/

@media screen and (min-width: 768px){

	/* Definiciones generales ----*/
  .ajusteNav {
    margin-right: 10px;
    justify-content: flex-end;
  }

  .imgStyle {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .artStyle {
    padding: 5px 15px 5px 15px;
  }

  .fotoStyle {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 2px;
  }

  .sizeIco {
    width: 35px;
    margin-left: 15px;
  }

  .commentStyle {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 4px 0px 0px;
    text-align: left;
  }

  .opcAlign {
    text-align: left;
    margin-left: 0px;
  }
