* {
  box-sizing: border-box;
  font-family: sans-serif;
	font-size: 12px;
  padding: 1px;
  border: 0px solid green;
}

.logo-img{
  width: 30%;
}

.imgFav{
  max-height: 129px;
}

.lineaRosa {
border-bottom: 1px solid #ff00ff;
}


.pageColor{
  opacity: .8;
  background-color: #336699;
  color: white;
  text-align: left;
  padding: 10px;
}

.seccionColor{
  opacity: .9;
  background-color: #e6e6ff;
  color: black;
  border: 4px solid  #336699;
  padding: 10px;
}

.buscarBoton{
  background-color: #ff66ff;
  color: white#ff66ff;
  padding: 4px;
  border-color: #ff66ff;
}

.botonColor{
  background-color: #e6e6ff;
  color: #ff66ff;
  padding: 4px;
  border-color: #ff66ff;
}

#menuFavoritos {
  display: none;
}

@media screen and (min-width: 768px){
  #menuFavoritos {
    display: block;
  }
}
